.purchase-container {
  display: flex;
  justify-content: space-around;
}
.purchase-container p {
  margin: 10px 0;
}

.purchase-container .quantity {
  display: flex;
  justify-content: space-around;
  width: 40%;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 16px;
  font-weight: 500;
  color: #525252;
}
.purchase-container .total-price {
  font-size: 18px;
  color: #999;
}
.quantity span {
  cursor: pointer;
}
.total-price span {
  color: #1e1e1e;
  font-weight: 600;
}
.btn-parent {
  position: relative;
}
.button-container {
  display: flex;
  align-items: flex-end;
  height: 60px;
}
.btn {
  width: calc(100% - 20px);
  height: 50px;
  margin: 5px 10px;
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
}
.fav-btn {
  background-color: #e6e6e6;
  color: #525252;
  border: 1px solid #dbdbdb;
  transition: background 0.3s;
}
.is-favorite {
  background-color: #fd2020;
  border: 1px solid #e98f9e;
  color: #dadada;
}
.add-to-cart {
  background-color: #191919;
  border: 1px solid #373737;
  color: #dadada;
}
.addedToCart {
  position: absolute;
  left: 15%;
  top: -50px;
  width: 70%;
  margin: 5px;
  padding: 2px 10px;
  font-size: 18px;
  background-color: #1eab1e;
  border: 1px solid #68af68;
  border-radius: 2px;
  color: #dadada;
  font-weight: 500;
  opacity: 0;
  animation: show 5s ease;
}
/* .addedToCart {
} */
@keyframes show {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.description {
  margin: 20px 10px;
  text-align: left;
  font-weight: 500;
  color: #919191;
}

@media screen and (min-width: 600px) {
  .purchase-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .purchase-container .quantity {
    font-size: 20px;
    border-radius: 2px;
    padding: 8px 0;
    width: 40%;
  }
  .button-container {
    display: flex;
    align-items: flex-end1;
  }
  .button-container .is-favorite {
    font-size: 12px;
    padding: 2px;
  }
  .btn {
    font-weight: 700;
  }
}
